@page "/Todolist"
@rendermode InteractiveAuto
<h3>Todolist</h3>
<div class="d-flex "><input placeholder="nouvelle tache" @bind="newName"/>   <button class="btn" @onclick="addTask"> Ajouter</button></div>
<div class="row gx-5 h-100">
    <div class="col border h-auto">
        <p>A faire</p>
        <div class="border">
            
        @foreach (var todo in todos)
        {
            <div class="card">
                <div><TodoItem updateChanged="update" Task="@todo"></TodoItem></div><button class="btn btn-danger" @onclick="@(() => { delete(@todo.id); })">Supprimer</button> </div>
        }
        </div>
    </div>
    <div class="col border h-auto">
        <p>En cours</p>
        <div class="border"></div>
    </div>
    <div class="col border h-auto">
        <p>Terminé</p>
        <div class="border"></div>
    </div>
</div>
@code {
    
    
    public List<TodoTask> todos = new();
    
    public string? newName;

    public int lastId = 1;
    
    public void addTask()
    {
        todos.Add(new TodoTask(){id=lastId, date = DateTime.Now,name = newName,status = "A faire"});
        lastId++;
        newName = string.Empty;
    }
    
    public void update(TodoTask itemUpdated)
    {
        
    }

    public void delete(int deleteTaskId)
    {
        todos.Remove(todos.FirstOrDefault(x=>x.id==deleteTaskId));
    }
    
}